@font-face {
    font-family: "Evogria";
    src: url("assets/fonts/evogria/Evogria.otf") format("opentype"),
         url("assets/fonts/evogria/Evogria.woff") format("woff");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("assets/fonts/bebasneue/bebasneuebook.woff")  format("woff");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("assets/fonts/gilroy/Gilroy-Light.woff")  format("woff");
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("assets/fonts/gilroy/Gilroy-ExtraBold.woff")  format("woff");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url("assets/images/bg.jpg");
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main-title {
    margin-top: 157px;
    font-family: "Evogria", serif;
    font-size: 3rem;
    text-align: center;
}

.products-wrap {
    display: flex;
    justify-content: space-between;
    margin: 80px 40px 147px;
}

.product-wrap {
    padding: 0 10px 42px;
    margin-right: 45px;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.1) 100%);
}

.product-wrap:nth-child(4n+4) {
    margin-right: 0;
}

.product-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 1.2px;
}

.product-img-wrap {
    padding: 0 20px;
}

.first-product-img-wrap {
    position: relative;
}

.first-product-img-wrap:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -19px;
    width: 1110px;
    height: 21px;
    background-image: url(assets/images/doska2.png);
}

.product-information {
    margin-bottom: 20px;
    padding-top: 40px;
    padding-right: 23px;
    padding-left: 23px;
}

.discount-info {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1px;
}

.price {
    font-size: 3.6rem;
    letter-spacing: 0.5px;
    text-align: right;
}

.old-price {
    font-size: 1.4rem;
    text-align: center;
    vertical-align: top;
    text-decoration: line-through;
}

.amount-basket {
    display: flex;
    justify-content: flex-end;
    padding: 0 18px;
}

.amount-wrap {
    margin-right: 25px;
}

.select-wrap {
    display: flex;
    position: relative;
    padding: 16px 12px 5px;
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.selected-number {
    margin-right: 15px;
    font-size: 1.5rem;
}

.open-select-icon {
    width: 0;
    height: 0;
    margin-top: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #fff;
}

.options-list-wrap {
    position: absolute;
    top: 48px;
    left: -37px;
    width: 122px;
    height: 0;
    padding-left: 13px;
    background: rgba(50, 50, 50, 0.2);
    overflow-y: scroll;
    transition: all .5s ease;
}

.options-list-wrap.open {
    display: block;
    height: 187px;
    padding-top: 16px;
}

.options-list-wrap::-webkit-scrollbar {
    width: 3px;
}

.options-list-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.1);
}

.options-list-wrap::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, 0.3);
}

.options-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: max-height .6s 2s;
 }

.options-list-wrap.open .options-list {
    max-height: 100%;
}

.option span {
    display: inline-block;
    height: 35px;
    margin-bottom: 9px;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.option span:hover {
    background-color: rgba(50, 50, 50, 0.2);
}



.basket-btn {
    padding: 12px 19px 6px 18px;
    border: 3px solid #fff;
    border-radius: 23px;
    background-color: unset;
    cursor: pointer;
    transition: all 0.6s;
}

.basket-btn:hover {
    background-color: #ff8b24;
    border-color: #ff8b24;
    transition: all 0.6s;
}

.basket-btn:focus {
    outline: none;
}

.basket-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(assets/images/buy.png);
}


.popup-order-wrap {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    overflow-y: scroll;
    animation-duration: 1s;
    animation-name: opacity;
}

.popup-order-wrap.open {
    display: block;
    opacity: 1;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes popup {
    from {
        right: -470px;
    }
    to {
        right: 0;
    }
}

.popup-order {
    position: absolute;
    display: none;
    width: 470px;
    background-color: #fff;
}

.popup-order-wrap.open .popup-order {
    display: block;
    right: 0;
    animation-name: popup, opacity;
    animation-duration: 0.7s, 1s;
}

.close-basket {
    display: flex;
    justify-content: center;
    padding: 93px 58px 75px;
    background-color: #ff943d;
    text-align: center;
    cursor: pointer;
}

.close-basket-icon {
    display: inline-block;
    position: absolute;
    left: -98px;
    top: 8px;
    width: 20px;
    height: 32px;
    background-image: url(assets/images/arrow.png);
}

.basket-title {
    position: relative;
    font-size: 3.6rem;
    letter-spacing: 1px;
}

.order-list {
    padding: 33px 58px 0;
}

.product-in-order {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.product-in-order:last-child {
    margin-bottom: 0;
}

.ordered-product-img {
    width: 21.43%;
    margin-right: 27px;
    padding-top: 3px;
}

.ordered-product-img .product-img {
    width: 100%;
}

.ordered-product-info {
    width: 78.57%;
    color: #000;
    font-family: "Gilroy Light", serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: -0.6px;
    line-height: 22px;
}

.product-subtitle {
    font-size: 1.5rem;
    margin-top: 13px;
    letter-spacing: 0;
}

.ordered-product-info .price {
    font-family: "Gilroy ExtraBold", serif;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 11px;
}

.total-wrap {
    padding-top: 36px;
    padding-left: 60px;
    padding-bottom: 25px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-family: "Gilroy Light", serif;
    text-transform: uppercase;
    font-size: 1.9rem;
    letter-spacing: -0.4px;
}

.total-sum {
    font-size: 2.9rem;
    letter-spacing: 0.9px;
}

.order-submit-wrap {
    text-align: center;
}

.order-submit-btn {
    margin-top: 22px;
    margin-bottom: 20px;
    padding: 20px 42px 18px 45px;
    border-radius: 6px;
    background-color: #faa21b;
    color: #fff;
    font-family: "Gilroy ExtraBold", serif;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    transition: all 0.8s;
    cursor: pointer;
}

.order-submit-btn:hover {
    background-color: #323232;
}

.order-submit-btn:focus {
    outline: none;
}
